#busRouteContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.busButton {
  height: 3rem;
  width: 8rem;
  border: 5px solid blue;
  border-radius: 1rem;
  background-color: azure;
}
