#busRouteContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.busButton {
  height: 5rem;
  width: 12rem;
  border: 5px solid blue;
  border-radius: 1rem;
  background-color: azure;
  cursor: pointer;
}
