#busRouteContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.busButton {
  height: 5rem;
  width: 12rem;
  border: 5px solid blue;
  border-radius: 1rem;
  background-color: azure;
  cursor: pointer;
}

#init {
  position: absolute;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1000;
}
